#mainMenuPane {
    -fx-background-image: url("/farmgame/view/images/farm.jpeg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-image-opacity: 0.5;
}

.label {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

#titleLabel {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: green;
    -fx-padding: 10px;
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-border-color: black;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

/* The empty part of the bar */
.progress-bar .track {
    -fx-background-color: #ddd;
}

/* Nutrition states */
.nutrition-dead .bar {
    -fx-background-color: gray;
}

.nutrition-low .bar {
    -fx-background-color: red;
}

.nutrition-medium .bar {
    -fx-background-color: yellow;
}

.nutrition-high .bar {
    -fx-background-color: green;
}
/*.button {*/
/*    -fx-background-color: pink;*/
/*    -fx-border-color: transparent;*/
/*    -fx-border-width: 0;*/
/*    -fx-border-radius: 0;*/
/*    -fx-background-radius: 5;*/
/*}*/