#mainMenuPane {
    -fx-background-image: url("/farmgame/view/images/farm.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-image-opacity: 0.5;
}

#mainMenuPane .button {
    -fx-font-weight: bold;
}

.label {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-color: transparent;
}

#titleLabel {
    -fx-font-size: 60px;
    /*-fx-font-weight: bold;*/
    -fx-text-fill: green;
    -fx-padding: 10px;
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-font-family: "Impact";
    -fx-background-radius: 5px;
}

/* The empty part of the bar */
.progress-bar .track {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-corner-radius: 20;
}
/* Nutrition states */
.nutrition-dead .bar {
    -fx-background-color: gray;
}
.nutrition-low .bar {
    -fx-background-color: red;
}
.nutrition-medium .bar {
    -fx-background-color: yellow;
}
.nutrition-high .bar {
    -fx-background-color: #4bf24b;
}
.button {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 1.5;
    -fx-border-radius: 0;
    -fx-background-radius: 5;
    -fx-background-image: url("/farmgame/view/images/lightersign.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8px 20px 8px 20px;
    -fx-pref-width: 150px;
}

.button:hover {
    -fx-background-image: url("/farmgame/view/images/signhover.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-image-opacity: 0.1;
}

.button:disabled {
    -fx-opacity: 0.8;
}

/*farm design stuff*/
#farmPane {
    -fx-background-image:url("/farmgame/view/images/grass.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}


/*villagers*/
#villagerGrid {
    -fx-background-color: rgba(94, 195, 19, 0.3);
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#villagerGrid .label {
    -fx-text-fill: white;
}

#farmGrid .button {
    -fx-background-image: url("/farmgame/view/images/soil.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-image-opacity: 1;
    -fx-font-color: white;
    -fx-text-fill: white;
}

#farmGrid .button:hover {
    -fx-background-image: url("/farmgame/view/images/soilhover.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-image-opacity: 1;
}

#daysSurvivedLabel{
    -fx-font-weight: bold;
    -fx-text-fill: #3aed3a;
    -fx-padding: 10px;
    -fx-background-image: url("/farmgame/view/images/sign.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-pref-width: 200px;
}

/*menu button*/
#farmPane .menu-button {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 1.5;
    -fx-border-radius: 0;
    /*-fx-background-radius: 5;*/
    -fx-background-image: url("/farmgame/view/images/lightersign.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-text-fill: white;
    -fx-padding: 5px 0px 5px 0px;
}

#farmPane .menu-button .label {
    -fx-text-fill: white;
}

#farmPane .menu-button:hover {
    -fx-background-image: url("/farmgame/view/images/signhover.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#farmPane .context-menu {
    -fx-background-color: rgba(107, 9, 9, 1);
    -fx-border-color: black;
    -fx-border-width: 1;
}

#farmPane .menu-item:focused {
    -fx-background-color: rgba(180, 50, 50, 0.8); /* highlight on hover/selection */
    -fx-text-fill: yellow;  /* optional hover color */
}

#aboutPane, #howToPlayPane, #cropInfoPane {
    -fx-background-image: url("/farmgame/view/images/farm.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-image-opacity: 0.5;
}

.text-area{
    -fx-control-inner-background: rgba(248, 223, 154, 0.3);
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-background-radius: 5px;
}

.gridPane {
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-background-radius: 5px;
}

#gameOverPane, #cropInfoPane, #warningDialogPane {
    -fx-background-image: url("/farmgame/view/images/grass.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#warningDialogPane .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#gameOverLabel {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}
#gameOverDescLabel {
    -fx-font-size: 15px;
    -fx-padding: 10px;
    -fx-background-size: 100% 100%;
}

.game-over-win {
    -fx-text-fill: #4bf24b;
}

.game-over-lose {
    -fx-text-fill: red;
}

